MONGODB_URI="mongodb+srv://shinwarifahad_db_user:UUuhmB37XqiOJRgK@cluster0.3a2mdwy.mongodb.net/wholesale?retryWrites=true&w=majority"
AUTH_SECRET="c15f1b6ad94c1b52f3a2e7d8b9c0a1f4e5d6c7b8a9f0e1d2c3b4a5f6e7d8c9b0a"
